.open-sans-inter{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}


.open-sans-noto-serif{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}


body {
    background: #F5F8FF;
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden; 

}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1140px;
    width: 1140px; 
    height: 82px;
    margin: 0 auto 109px auto;
    padding: 0 15px;
}

.navbar .logo img {
    height: 50px; 
}

.navright {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    gap: 15px; 
}

.navright li {
    list-style: none;
}

.navright a {
    text-decoration: none;
    font-size: medium;
    color: rgba(137, 135, 161, 1);
}

.navright a:hover {
    color: rgba(37, 36, 50, 1); 
}

.cart {
    display: flex;
    align-items: center;
    gap: 5px;
}

.links {
    display: flex;
    gap: 15px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 15px; 
    width: 100%; 
    height: 461px;
    margin: 0 auto ;
    margin-bottom: 109px;
     box-sizing: border-box; 
    
    
}

.hero-text {
    max-width: 600px;
    font-family: 'Open Sans', sans-serif;
}

.hero-text h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.hero-text .first-word {
    color: black; 
}

.hero-text .second-word {
    color: rgba(233, 90, 8, 1); 
}

.hero-text p {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.5);
    width: 85%;
    line-height: 1.6;
}

.hero-image img {
    max-width: 50%;
    height: auto;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.container {
    max-width: 1140px;
    padding: 20px 15px;
    width:100%
    align-items: center;
    margin: 0 auto;
    text-align: center;
   
}
.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 20px;
    padding: 0 10px; 
    box-sizing: border-box;
    width: 100%;
}
.product img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.product h3 {
    font-size: 1.3em;
    font-weight: normal;
    margin-top: 10px;
    color: black;
}

.product p {
    font-size: 1em;
    font-weight: bold;
    margin-top: 5px;
    color: #707070;
    
}

.add-to-cart {
    background-color:rgba(233, 90, 8, 1);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    margin-top: 10px;
    border-radius: 5px;
}

.add-to-cart:hover {
    background-color: #FF3B2F;
}
.con-paragraph{
    display: flex;
    align-items: center;
    justify-content: center;
    width:90%

}


.plants-lover {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 20px;
}

.image-container {
    position: relative;
    width: 600px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.flower-store{
    width: 540px;
    height: 400px;
}

.trusted-badge {
    position: absolute;
    top: 10px;
    right: 40px;
    width: 100px;
    height: 100px;
    transform: translate(10%, -40%);
}


.latest-deals {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 5px;
}

.latest-deals h1 {
  font-size: 30px;
  margin-bottom: 5px;
}

.latest-deals p {
  font-size: 16px;
  color: #777;
  margin-top: 5px;
}

.deal-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 0;
  margin: 0;
}

.deal-item-left, .deal-item-right {
  position: relative;
}

.deal-item-left img {
  width: 60%;
  height: 90%;
  object-fit: cover;
  margin: 0 auto;
  padding: 0 20px 0 0;
  margin-bottom: 10px;
  border-radius: 10px;
}

.deal-item-left {
  display: flex;
  flex-direction: column;
}

.deal-item-right img {
  width: 60%;
  height: 90%;
  border-radius: 10px;
}

.deal-text-right {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  width: 50%;
}

.deal-text-left-a {
  position: absolute;
  bottom: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  width: 50%;
}

.deal-text-left-b {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  width: 50%;
}

.deal-text h2 {
  font-size: 18px;
  margin: 0;
}

.deal-text a {
  display: inline-block;
  margin-top: 10px;
  color: #ff6f61;
  text-decoration: none;
  font-weight: bold;
}

.deal-text a:hover {
  color: #fff;
}

@media screen and (min-width: 431px) and (max-width: 990px) {
    .navbar {
        display: flex; 
        padding: 0 ;
        margin: 0 auto; 
        max-width: 100%; 
    }

    .navright{ 
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }

    .logo img {
        height: 40px;
        margin-right: 0; 
    }
        .hero {
        flex-direction: column; 
        padding: 20px;
    }

    .hero-text {
        max-width: 100%; 
        text-align: center;}

    .hero-text h1 {
        font-size: 2.5rem;
    }

    .hero-text p {
        font-size: 1rem; 
        width: 100%; 
    }

    .hero-image img {
        max-width: 80%; 
        margin-top: 20px; 
    }
    .product-grid{
     grid-template-columns: repeat(4, 1fr);
    }

    .deal-container {
        grid-template-columns: repeat(2, 1fr); 
    }
}

/* for iphone 14 pro */
@media screen and (max-width: 431px) {
    body {
  background: #F5F8FF;
  margin: 0 auto;
  align-items: center;
  padding: 0;
    }
    .navbar {
        width: 100%;
        padding : 0 10px;
        justify-content: space-between;
        
    }
    
    
    .links {
        display: none; 
    }

    .logo img {
        height: 40px;
    }

    .cart {
    
        justify-content: flex-end;
        width: 100%;
        font-size: 16px;
    }

    .cart a {
        display: flex;
        gap: 5px;
        align-items: center;
    }

    .cart a i {
        color: rgba(37, 36, 50, 1);
    }

    .navright {
        display: block; 
    }
    .hero {
        flex-direction: column-reverse;
        padding: 15px 10px;
        
    }
    .hero-text {
        max-width: 100%;
        text-align: center;
    }
    .hero-text h1 {
        font-size: 2rem; 
    }
    .hero-text p {
        font-size: 0.9rem; 
        line-height: 1.4;
        width: 100%;
    }
    .hero-image img {
        max-width: 90%;
        margin-top: 15px;
    }
    .container{
    max-width: 100%;
    padding: 0 10px;
       
}
.product-grid {
        grid-template-columns:repeat(2,1fr);
        width: 100%;
        
       padding: 0 10px;
    }
.product img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.con-paragraph{
    display: flex;
    flex-direction: column;
    width:90%

}
 .trusted-badge {
        display: none;
    }
.plants-lover{
display: flex;
flex-direction: column;
margin: 0 auto;
gap: 20px;
width: 100%;
    }
     .text-content {
        padding: 10px;
        width: 90%;
    }
    .flower-store{
        justify-content: center;
        max-width: 90%;
        padding: 0;
    }
    .deal-container {
        grid-template-columns: 1fr; 
        width: 100%;
    }
    .deal-item-right,.deal-item-left, 
    { justify-content: center;
        width 100%
        height: 100%;
        margin: 0 auto;
    }

 .deal-item-left img
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
max-width: 100%;
  }

   .deal-item-right img{
    align-items: center;
    margin-left: 80px;
    max-width: 100%;

   }
 .deal-text-left-a{
    justify-content: center;
    width 10%
    height: 5%;
    bottom: -20%;
    padding: 0;
    margin: 0 0;
    transform: translate(-55%, -80%);
 }
 .deal-text-left-b{
justify-content: center;
    width 10%
    height: 5%;
    bottom: 70%;
    padding: 0;
    margin: 0 0;
    transform: translate(-50%, 40%);
}

.deal-text-right{
transform: translate(-15%, -40%);

}
}



